@font-face{
	font-family: Sanspro;
	src: url("fonts/Sanspro.ttf");
}
body {
	margin: 0px;
	font-family: "Sanspro";
}
header {
	width: 100%;
	height: 65px;
	background-color: #454545;
	border-bottom: solid 2px;
	border-color: #840e0e;
	display: flex;
}
#Hlogoname{
	width: 38%;
	height: 100%;
	display: flex;
	justify-content: center;
}
#Hmainmenu{
	width: 34%;
	height: 100%;
	display: flex;
}
#Hsearch{
	width: 28%;
	height: 100%;
	justify-content: center;
	display: flex;
}
#Hlogo{
	width: 135px;
	height: 65%;
	text-align: center;
	color: white;
	justify-content: center;
	margin: 15px;
	font-size: 175%;
	display: flex;
}
#Hname{
	width: 150px;
	height: 50%;
	font-size: 60%;
	color: white;
	margin-top: 20px;
}
.Hbutton{
	height: 30%;
	width: 25%;
	font-size: 100%;
	margin-top: 20px;
	color:white;
	text-align: center; 
}
.Hbutton:hover{
	cursor: pointer;
	color: red;
}
input{
	margin: 20px;
}
#WASD{

}
#com{
	color: red;
}
#info{
	background-image: url(images/2.jpeg); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	height: 600px;

}
#infomainblock{
	margin: auto;
	width: 50%;
	height: 100%;
	display: block;
}
#toplieblock{
	width: 100%;
	height: 30%;
}
#botlieblock{
	width: 100%;
	height: 30%;
}
#infotext{
	color: white;
	line-height: 0.5;
	font-size: 170%;
	width: 100%;
	height: 15%;
}
#infobutton{
	justify-content: center;
	text-align: center;
	line-height: 0.3;
	font-size: 15px;
	color: white;
	width: 170px;
	height: 40px;
	background-color: red;
	animation-duration: 5s;
}
#infobutton:hover{
	background-color: white;
	color: red;
	cursor: pointer;
}
#topdevices{
	width: 100%;
	height: 550px;
	display: flex;
}
.tdblock{
	margin: 1.7%;
	width: 30%;
	height: 100%;
}
.tdblocktop{
	width: 100%;
	outline: 2px solid red;
	outline-offset: -2px;
	height: 70%;
}
#keyboard{
	background-image: url("images/3.jpeg");
	background-size: 90%;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 0.8s ease;
}
#keyboard:hover{
	background-size: 100%;
}
#headphone{
	background-image: url("images/4.jpeg");
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 0.8s ease;
}
#headphone:hover{
	background-size: 90%;
}
#mouse{
	background-image: url("images/5.jpeg");
	background-size: 90%;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 0.8s ease;
}
#mouse:hover{
	background-size: 100%;
}
.tdblockbot{
	background-color: #222222;
	width: 100%;
	height: 25%;
}
.insideblock{
	color: white;
	margin-left: 5%;
	height: 95%;
}
#other{
	width: 100%;
	height: 600px;
	background-image: url("images/1.jpeg");
	background-size: 95%;
	margin-top: 20px;
}
#buttonPC{
	position: relative;
	background-color: red;
	width: 15%;
	height: 75px;
	color: white;
	font-size: 20px;
	text-indent: 1em;
	line-height: 0.1;
	transform: translate(450%, 250px);
}
#buttonPC:hover{
	background-color: white;
	color: red;
	cursor: pointer;
}
footer{
	width: 100%;
	height: 200px;
	background-color: #343434;
}
#topfooter{
	width: 100%;
	height: 50%;
}
#botfooter{
	width: 100%;
	height: 50%;
}
#topmainblock{
	width: 75%;
	margin: auto;
	height: 100%;
	display: flex;
}
#botmainblock{
	width: 60%;
	margin: auto;
	height: 100%;
	display: flex;
}
#hyperx{
	width: 27%; 
	height: 100%; 
	background-image: url(images/hyperx.jpeg); 
}
#steelseries{
	width: 8%; 
	height: 100%; 
	background-image: url(images/steelseries.png); 
	background-size: 100%;
	background-position: center; 
	margin: auto;

}
#Corsairlogo{
	width: 8%; 
	height: 100%; 
	background-image: url(images/Corsairlogo_new.png); 
	background-size: 100%;
	background-position: center; 
	margin: auto;
	background-repeat: no-repeat;
}
#nvidia{
	margin: auto;
	width: 10%; 
	height: 100%; 
	background-image: url(images/Nvidia_logo.svg.png); 
	background-size: 100%;
	background-position: center; 
	background-repeat: no-repeat;
}
#microsoft{
	width: 27%; 
	height: 100%; 
	background-image: url(images/microsoft_PNG16.png); 
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}
.botlogos{
	margin: auto;
	width: 15%;
	height: 100%;
}
#vk{
	background-image: url(images/768px-VK.com-logo.svg.png); 
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;
}
#twitter{
	background-image: url(images/580b57fcd9996e24bc43c53e.png); 
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}
#facebook{
	background-image: url(images/Facebook_Logo.png); 
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;
}
#youtube{
	background-image: url(images/580b57fcd9996e24bc43c545.png); 
	background-size: 90%;
	background-position: center;
	background-repeat: no-repeat;
}